@use 'bootstrap/scss/bootstrap' as bs;

input.ng-touched.ng-invalid {
  border-color: var(--bs-danger);
  --bs-focus-ring-color: #{bs.$red-200};
  &:focus{
    box-shadow: 0 0 #{bs.$focus-ring-blur} #{bs.$focus-ring-width} var(--bs-focus-ring-color);
  }
  
}

.form-abs {
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.4);
  background-color: white;
  position: absolute;
  left: 0px;
  top: 13%;
  transition: opacity 500ms, top 500ms, z-index 500ms;
  z-index: -1;
  opacity: 0;
  &-vis {
    top: 15%;
    z-index: 10;
    opacity: 1;
  }
}
